/* comments for css*/
/* take away extra space in body*/
body{
    margin: 0;

}
/* Footer in the bottom, always*/
main{
    flex:1 ;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana;
    }
    /*Footer in the bottom end*/
    .my-class{
        color: green;
    }
    #my-id{
        color: rgb(255, 0, 0);
    }
    .two.classes{
        color:#0000ff;
    }
    header{
        background-color: rgb(98, 163, 201);
        padding-left: 20px;
    }
    header h1{
        font-family: Verdana;
        font-size: 45px;
        color: pink;
        margin: 0;
        margin-bottom: 10px;
    }
    header nav{
        margin-left: 2px;
    }
    header nav a{
        display:inline-block;
        padding: 0 15px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: bold;
    }
    header nav a:hover {
        color: #fff;
    }
    header nav a:active{
        color:#110e0e2a;
    }
    header nav a.activ{
        color:#ffffff;
    }
h1,h2{
    color:rgb(0, 0, 0);
    font-family: Verdana;
    line-height: 130%;
    margin: 0 auto;
    max-width: 650px;
}
main{
    padding: 20px;
    font-family: Verdana;
    font-size: 18px;
    line-height: 130%;
    margin: 0 auto;
    max-width: 650px;
}
main h1{
    margin-top: 20px;

}
p{
    margin: 0;
    margin-bottom: 12px;

}
footer{
    background-color: rgb(98, 163, 201);
    padding: 20px;
    color:#000000;
    font-family: Verdana;
    font-size: 12px;

}
footer p{
    margin: 5px;
    text-align: center;
}
.my-form{
    width: 50%;
    font-family: 'Franklin Gothic Medium';
}




    